<ion-card>
  <form [formGroup]="fromGroup" (ngSubmit)="doSubmit()">
    @if(!isNext){
      <app-register-email1 
        (isCancel)="getIsCancel($event)" 
        (isNext)="getIsNext($event)"
        [nameControl]="nameControl" 
        [lastNameControl]="lastNameControl" 
      />
    }@else {
      <app-register-email2 
        (isReturn)="getIsReturn($event)"
        [emailControl]="emailControl" 
        [passwordControl]="passwordControl" 
        [passConfir]="passConfir" 
      />
    }
  </form>
</ion-card>