<ion-header>
  <ion-toolbar>
    <ion-title>Your profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    @if (user && !isLoading) {
      <img src="{{urlPhoto}}" />
      <h1>¡Hi {{ user.name }} {{ user.lastName }}!</h1>
      <p>You can update your profile</p>
      <form [formGroup]="formGroup" (ngSubmit)="doSubmit()">
        <app-input label="Name" [control]="nameControl"/>
        <app-input label="Last name" [control]="lastNameControl"/>
        <div class="buttons">
          <app-button (click)="signOut()" text="Sign out"/>
          <app-button text="Update" type="submit" />
        </div>
        <app-button (click)="getImg()" text="New photo profile" />
      </form>
    }@else {
      <ion-spinner />
    }
  </div>
</ion-content>
