<ion-header>
  <ion-toolbar>
    <ion-title>{{'profile.yourProfile'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh;">
  <div class="body">
    @if (user && !isLoading) {
      <img src="{{urlPhoto}}" />
      <h1>¡{{'profile.hi'|translate}} {{ user.name }} {{ user.lastName }}!</h1>
      <p>{{'profile.youCanUpdateYourProfile' | translate}}</p>
      <form [formGroup]="formGroup" (ngSubmit)="doSubmit()">
        <app-input label="{{'profile.name'|translate}}" [control]="nameControl"/>
        <app-input label="{{'profile.lastName'|translate}}" [control]="lastNameControl"/>
        <div class="buttons">
          <app-button (click)="signOut()" text="{{'profile.signOut'|translate}}"/>
          <app-button text="{{'profile.update'|translate}}" type="submit" />
        </div>
        <app-button (click)="getImg()" text="{{'profile.newPhotoProfile'|translate}}" />
      </form>
    }@else {
      <ion-spinner />
    }
  </div>
</ion-content>