<ion-header>
  <ion-toolbar>
    @if (translationJson) {
      <ion-title>{{ translationJson.Configuration.Configuration }}</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh;" class="ion-padding">
  @if (translationJson) {
    <div class="">
      <p>{{ translationJson.Configuration.ChangeTheLanguage }}</p>
      <form (ngSubmit)="doSubmit()">
        <app-select [languages]="languages" [value]="value" label="{{ translationJson.Configuration.Languages }}" [control]="selectControl" />
        <app-button text="{{ translationJson.Configuration.Save }}" type="submit"/>
      </form>
    </div>
  }
</ion-content>