<ion-header>
  <ion-toolbar>
    <ion-title>{{'configuration.configuration' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh;" class="ion-padding">
    <div class="">
      <p>{{ 'configuration.changeTheLanguage' | translate }}</p>
      <form (ngSubmit)="doSubmit()">
        <app-select [languages]="languages" [value]="value" label="{{ 'configuration.languages' | translate}}" [control]="selectControl" />
        <app-button text="{{ 'configuration.save' | translate}}" type="submit"/>
      </form>
    </div>
</ion-content>