<ion-content [fullscreen]="true">
  <div class="body">
    <ion-img src="/assets/icon/wallpaper-logo.webp" class="img"/>
    <h1>Register for My wallpaper</h1>
    <ion-card>
      <form>
        <app-input 
          label="Email" 
          placeholder="jhon@gmail.com" 
          type="email" 
        />
        <app-input 
          label="Password" 
          placeholder="******" 
          type="password" 
        />
        <div class="buttons">
          <app-button text="Register" />
          <app-button text="Login" />
        </div>
      </form>
      <div class="google">
        <p>or</p>
        <app-button iconName="logo-google" />
      </div>
    </ion-card>
  </div>
</ion-content>
