<ion-content [fullscreen]="true">
  <div class="body">
    <ion-img src="/assets/icon/wallpaper-logo.webp" class="img"/>
    <h1>Register for My wallpaper</h1>
    <ion-card>
      <form [formGroup]="formGroup" (ngSubmit)="doSubmit()">
        <app-input 
          label="Email" 
          placeholder="jhon@gmail.com" 
          type="email" 
          [control]="emailControl"
        />
        <app-input 
          label="Password" 
          placeholder="******" 
          type="password" 
          [control]="passwordControl"
        />
        <div class="buttons">
          <app-button text="Register" routerLink="/register"/>
          <app-button text="Login" type="submit" />
        </div>
      </form>
      <div class="google">
        <p>or</p>
        <app-button (click)="registerGoogle()" iconName="logo-google" />
      </div>
    </ion-card>
  </div>
</ion-content>
