.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .img{
    width: 20%;
}

.body .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .icon a{
    text-decoration: none;
}