<ion-content [fullscreen]="true">
  <div class="body">
    <ion-img src="/assets/icon/wallpaper-logo.webp" class="img"/>
    <h1>{{'register.title'|translate}}</h1>
    <div>
      @if (!isEmail) {
        <app-opcion-register (isEmail)="getEmiter($event)" />
        <div class="icon">
          <p>{{'register.haveAccount'|translate}}<a routerLink="/login">{{'register.loginHere'|translate}}</a></p>
        </div>
      }@else{
        <app-register-email  (isCancel)="getReturn($event)"/>
      }
    </div>
  </div>
</ion-content>
